html, body{
	margin: 0;
	font-family: arial;
}
/* -------------- CATEGORIE AMBIANCE PROPRIETES GENERALES BLOC ------------------*/

#ambiance{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100vh;
	background-image: url(./img/ambiance-liege.jpg);
}

#ambiance h1{
	color:#074358;
}

/* -------------- BLOC POLAROID ------------------*/

#ambiance-bloc-polaroid-general{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 50px;
}

/* -------------- LIGNE 1 ------------------*/

#ambiance-bloc-polaroid{
	width: 90%;
	display: flex;
	justify-content: space-between;
}

/* -------------- LIGNE 2 ------------------*/

#ambiance-bloc-polaroid-2{
	width: 80%;
	display: flex;
	justify-content: space-around;
}

/* -------------- CONTENANT POLAROID ------------------*/

.ambiance-polaroid{
	width: 150px;
	height: 150px;
	overflow: hidden;
	border: white solid 10px;
	border-bottom: white solid 50px;
	box-shadow: 8px 8px 12px #454545; 
	margin: 0 0 40px 20px;
}

/* -------------- POLAROID ------------------*/

.ambiance-polaroid img{
	width: 300px;
}
/*.ambiance-polaroid p{
	color: black;
	z-index: 1;
	position: absolute;
    margin-top: -40px;
    font-family: 'Shadows Into Light', cursive;
}*/
#ambiance-photo-1{
	transform: rotate(-5deg);
}
#ambiance-photo-2{
	transform: rotate(20deg);
}
#ambiance-photo-3{
	transform: rotate(-10deg);
}
#ambiance-photo-4{
	transform: rotate(10deg);
}
#ambiance-photo-5{
	transform: rotate(10deg);
}

/* -------------- BLOC COMMENT ------------------*/


/* -------------- BLOC POLAROID ------------------*/
/* -------------- BLOC POLAROID ------------------*/
/* -------------- BLOC POLAROID ------------------*/
/* -------------- BLOC POLAROID ------------------*/
/* -------------- BLOC POLAROID ------------------*/
