html, body{
	margin: 0;
	font-family: arial;
}
/* -------------- CATEGORIE AMBIANCE PROPRIETES GENERALES BLOC ------------------*/

#ambiance{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
  background-color: #D5F5E1;
  /*background-image: url(./img/ambiance-liege.jpg);*/
}
#ambiance-h1{
	text-align: center;
  font-family: QCB;
  font-size: 40px;
  margin-top: 50px
}

#ambiance-h1:after{
 display: block;
 height: 4px;
 background-color: white;
 content: " ";
 width: 300px;
 margin: 0 auto;
 margin-top: 30px;
 margin-bottom: 6%;
}
/* -------------- BLOC POLAROID ------------------*/

#ambiance-bloc-polaroid-general{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 50px;
}

/* -------------- LIGNE 1 ------------------*/

#ambiance-bloc-polaroid{
	width: 90%;
	display: flex;
	justify-content: space-between;
}

/* -------------- LIGNE 2 ------------------*/

#ambiance-bloc-polaroid-2{
	width: 80%;
	display: flex;
	justify-content: space-around;
}

/* -------------- CONTENANT POLAROID ------------------*/

.ambiance-polaroid{
	width: 150px;
	height: 150px;
	overflow: hidden;
	border: white solid 10px;
	border-bottom: white solid 50px;
	box-shadow: 8px 8px 12px #454545; 
	margin: 0 0 40px 20px;
	display: flex;
    align-items: center;
    justify-content: center;
}

/* -------------- POLAROID ------------------*/

.ambiance-polaroid img{
	width: 200px;
}
#ambiance-photo-1{
	transform: rotate(-5deg);
}
#ambiance-photo-2{
	transform: rotate(20deg);
}
#ambiance-photo-3{
	transform: rotate(-10deg);
}
#ambiance-photo-4{
	transform: rotate(10deg);
}
#ambiance-photo-5{
	transform: rotate(10deg);
}

/* -------------- POPUP ------------------*/

.ambiance-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.ambiance-overlay:target {
  visibility: visible;
  opacity: 1;
  display: flex;
  align-items: center;
}

.ambiance-popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 2px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.ambiance-popup .ambiance-close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #666666;
  z-index: 2;
}
.ambiance-popup .ambiance-close:hover {
  color: #360014;
}
.ambiance-popup .ambiance-content {
	display: flex;
}

/* ------------- SLIDER -----------------*/

#ambiance-slider{
	width:500px;
	height: 500px;
	overflow: hidden;
}
.ambiance-mySlides {
	display: none;
}
.ambiance-mySlides img{
	width: 600px;
}
.ambiance-mySlides p{
	margin-top: 30px;
  font-size: 23px;
	position: relative;
	top: 0;
	font-family: 'Shadows Into Light', cursive;
  text-align: center;
}
.ambiance-slideshow-container {
  position: relative;
  margin: auto;
  width: 400px;
  height: 400px;
  display: flex; 
  align-items: center;
  justify-content: center;
}
.ambiance-prev, .ambiance-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.ambiance-next{
    border-radius: 3px 0 0 3px;
    right: 4%;
}
.ambiance-prev{
	left: 0;
}
.ambiance-prev:hover, .ambiance-next:hover {
  background-color: rgba(0,0,0,0.8);
}
.ambiance-fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .ambiance-prev, .ambiance-next,.ambiance-text {font-size: 11px}
}
