/*css general         ZOHRA                     */
html, body{
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 100%;
}

a{
  text-decoration: none;
}
header{
  width: auto;
  height: 650px;
  padding-bottom:30px;
}
/*fonts*/

/* nav bar text */
@font-face { font-family: DR; src: url('font/Directors-Regular.ttf');}

/* txt & titre bold */
@font-face { font-family: QCB; font-weight: bold; src: url('font/QuarcaCondBold.otf');}
@font-face { font-family: QCBI; font-weight: bold; font-style: italic; src: url('font/QuarcaCondBoldItalic.otf');}

/* normal txt normal*/
@font-face { font-family: QC; src: url('font/QuarcaCondBook.otf');}
@font-face { font-family: QCI; font-style: italic; src: url('font/QuarcaCondBookItalic.otf');}

/* normal txt thin*/
@font-face { font-family: QCL; src: url('font/QuarcaCondLight.otf');}
@font-face { font-family: QCLI; font-style: italic; src: url('font/QuarcaCondLightItalic.otf');}

/*colors

#efafa5; rose-ish
#d6d8db; gris light

*/

/*barre de navigation*/
#navbar{
  display: flex;
  justify-content: flex-end;
  background-color: #efafa5;
  height: 80px;
  align-items: center;
  width: 100%;
}
#navbar a{
  font-family: QCB;
  color: #c30044;
  font-size: 30px;
  margin-left: 15%;
}
.a2{
  margin-right: 8%;
}
.a1 a:hover, .a2 a:hover{
  text-decoration: underline;
}
#navbar .a1{
}
.logo img{
  height: 110px;
  padding: 10%;
  z-index: 3;
  border-radius: 50%;
  overflow: visible;
  background-color: #efafa5;

}
.logo{
  margin-right:10%;
  padding-top: 4%;
}
/* video */
.bighead{
  display: flex;
  justify-content: flex-start;
}
.vid{
  width: 100%;
  height: 600px;
  background-color: white;
}
.resize{
  height: 430px;
  width: 88%;
  overflow: hidden;
  padding-top: 10%;
  padding-left: 5%;
  display: flex;
  align-items: center;
}
/* h1 header */
header #intro{
  color: black;
  text-align: center;
  margin: 0%;
  width: 48%;
  padding-top: 5%;
  position: relative;
  font-family: QCB;
  height: 500px;
}
.reduit{
  font-family: QCL;
  font-weight: normal;
}
.simplon1{
  color: #c30044;
}
.fa-arrow-right{
  color: #c30044;
}
/* -------------- BLOC COMMENT Shelley------------------*/
#valeurs{
    background-color: #d8e544;
    height: 950px;
}
#valeurs h1{
  font-family: QCB;
  text-align: center;
  font-size:40px;
  padding-top: 2%;
  color: black;
}
#valeurs h1:after{
  display: block;
  height: 4px;
  background-color: white;
  content: " ";
  width: 300px;
  margin: 0 auto;
  margin-top: 30px;
}
#valeurs p{
  padding: 1%;
  padding-left: 2%;
  font-family: QC;
  font-size: 24px;
  height: 250px;
}
#valeurs h2{
  text-align: center;
  font-family: QCB;
}
.button {
    display: block;
    width: 115px;
    height: 25px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-left: 30%;
    margin-bottom: 5%;
}
.button:hover{
  background-color: #3e707c; /* blue plus foncé*/
}
#flex-container{
	width: 100%;
	display: flex;
	justify-content: space-around;
  padding-top: 2%;

}
.item{
  border-radius: 15px;
 width: 25vw;
 padding-left:2%;
 padding-right:2%;
 background-color: white;
}
.value_img{
	width: 25vw;
}

@media only screen and (max-width: 767px){
    #flex-container{
        flex-direction: column;
    }
    .item{
        width: 100vw;
    }

}

/*                  SECTION VALENTINO                      */

#form{
    display: flex;
    flex-direction: row;
    margin-left: 1.7%;
    width: 100%;
    justify-content: space-around;
    height: 550px;
    padding-top: 50px;
    margin: auto;
    }
.page {
  background-color: red;
}
.formintro{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    padding-top: 10px;
    margin-bottom: 40px;
    padding: 20px;
    margin: auto
}
#intro {
 line-height: 40px;
    padding-left: 10px;
}

#parin {
  width: 90%;
    padding-top: 30px;
    margin: auto;
}

#formation p{
    color: black;
    font-size: 24px;
    font-family: QC;
    letter-spacing: 0.5px;
}

#formation div.container{ max-width: 320px;
}

#formation div.container:hover .page{
    transform: rotateY(180deg);}


.container, .devant, .arriere{
width: 320px;
height: 520px}

.page{transition: .6s;
    position: relative;
transform-style: preserve-3d}

/*cacher la face arriere*/

.devant, .arriere{
backface-visibility: hidden;
position: absolute;
top: 0;
left: 0;
background: linear-gradient(#7daaf2, white);
}

/*cacher la face avant*/
.devant{
    z-index: 1;
    transform: rotateY(0deg);
    text-align: center;
    border-radius: 15px;
}

.arriere{
transform: rotateY(180deg);
border-radius: 10px;
color: white;
text-align: center;
}

.container{
  perspective:300px
}


#formation h2{
  color: black;
  text-align: center;
  font-family: QCB;
  }

#formation a{
    position: absolute;
    display: block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: orange;
    top:420px;
    left: 110px;
    border-radius: 15px;
    text-decoration: none;
    color: black
    }

#formation a:hover{
  background: orangered;
  color: snow
}

#formation h1 {
  color: white;
  text-align: center
}
#formation span{
  font-family: QC;
  font-weight: bold;
  font-variant: small-caps;
}

.txt {
    height: 240px;
}
#brain {
    float: left;
    padding: 40px 20px 0px 0px;
}
#tem {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-around;
    height: 380px;
    background: linear-gradient(#7daaf2, white);
    padding-top: 60px;
    margin: 40px auto;
    border-radius: 15px;
}

#tem2{
    font-size: 40px;
    color: dodgerblue;
    margin: 30px auto;
}




/*                  SECTION FLORENT                        */
#encadrement {
      display:flex;
      flex-direction: column;
      width:100%;
      background-color: #efa328;
      padding-bottom: 3%;
}
#encadrement h1{
  font-size: 40px;
  font-family: QCB;
  text-align: center;
  color: black;
}
#encadrement h1:after{
  display: block;
  height: 4px;
  background-color: white;
  content: " ";
  width: 300px;
  margin: 0 auto;
  margin-top: 30px;
}
#encadrement p{
  font-family: QC;
  font-size: 20px;
}
.fa-quote-left{
  font-size: 10px;
  padding-bottom: 2%;
  color:#ff3300;
}
.fa-quote-right{
  font-size: 10px;
  padding-bottom: 2%;
}
/*                      témoignage                        */
#témoignage {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 50px;
      text-align: center;
      margin-top: 20px;
}

#rectangle-style-90 {
      width:100%;
      height: 300px;
      background-image:url(img/papierpeint.jpg);
      margin-top:1%;
}

#témoignage img {
      margin:20px;
      border:6px solid black;
      border-radius:50%;
      height: 80%;
      width: 20%;
}

#légende {
      font-size: 20px;
      padding-bottom: 40px;
      font-family: QCL;

}

/*   phrase d'accroche:
"J'ai trouvé rassurant que nos formateurs soient
d'anciens apprenants.                           */
#phrase1 {
      font-size: 30px;
      color:#ff3300;
      font-weight: bold;
      letter-spacing: 1px;
}

#témoignage p {
      text-align: center;
      font-style: italic;
      font-weight: bold;
}
#MK{
  font-family: QC;
}

/*                   témoignage fin                        */




/*                      informations                        */

#informations {
      display: flex;
      flex-direction: row;
      align-items:center;
}

/*             texte:  "A Simplon,"                 */
#phrase2 {
      font-size: 25px;
      color:#ff3300;
      font-family: QCB;
      text-align: center;

}

#informations p {
      text-align: left;
      padding:0px 20px 0px 20px;

}

#informations img {
      width:250px;
      height: 305px;
      border: 1px solid black;
}

/*                      informations  end                      */
=======

#form{
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    height: 550px;
    padding-top: 50px;
    margin: auto;
    }

.formintro{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    padding-top: 10px;
    margin-bottom: 40px;
    padding: 20px;
    margin: auto
}
#intro {
 line-height: 40px;
    padding-left: 10px;
}

#parin {
  width: 90%;
    padding-top: 30px;
    margin: auto;
}
#accrochetxt{
  font-family: QCBI;
  font-size: 10px;
}
.fa-arrow-left{
  color: ;
  font-size: 14px;
}
/*                        SECTION MAFFEW                    */
#hhumain{
  text-align: center;
  font-family: QCB;
  font-size: 40px;
  background-color: #103351;
  margin: 0;
  padding-top: 2%;
  color: white;
}
#hhumain:after{
  display: block;
  height: 4px;
  background-color: white;
  content: " ";
  width: 300px;
  margin: 0 auto;
  margin-top: 30px;
}
#humains-boxes img {
	width: 100%;
	height: auto;
  border-radius: 15px;
}
#humains-boxes {
	display: flex;
	flex-wrap: wrap;
  padding-top: 4%;
  padding-left: 1%;
  padding-bottom: 2%;
  background-color: #103351;
  flex-direction: column;
}
#humains-boxes p{
  font-family: QC;
  font-size: 20px;
}
#humains-boxes strong{
  font-family: QCB;
  margin-top: 2%;
  margin-bottom:2%;
}
.humains-box {
  column-count: 5;
	padding: 10px;
  border-radius: 15px;
	flex: 1;
	border: 1px solid #333;
	margin-right: 10px;
  background: white;
  box-shadow: 4px 4px 10px black;
  margin-bottom: 1%;
}

.humain-box-txt {
	text-align: justify;
}

.personne_interviewee {
	font-size: 20px;
  font-style: italic;
  font-weight: bold;
}

/*                      SECTION MATHILDE                     */


html, body{
	margin: 0;
	font-family: arial;
}
/* -------------- CATEGORIE AMBIANCE PROPRIETES GENERALES BLOC ------------------*/

#ambiance{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
  background-color: #D5F5E1;
  /*background-image: url(./img/ambiance-liege.jpg);*/
}
#ambiance-h1{
	text-align: center;
  font-family: QCB;
  font-size: 40px;
  margin-top: 50px
}

#ambiance-h1:after{
 display: block;
 height: 4px;
 background-color: white;
 content: " ";
 width: 300px;
 margin: 0 auto;
 margin-top: 30px;
 margin-bottom: 6%;
}
/* -------------- BLOC POLAROID ------------------*/

#ambiance-bloc-polaroid-general{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 50px;
}

/* -------------- LIGNE 1 ------------------*/

#ambiance-bloc-polaroid{
	width: 90%;
	display: flex;
	justify-content: space-between;
}

/* -------------- LIGNE 2 ------------------*/

#ambiance-bloc-polaroid-2{
	width: 80%;
	display: flex;
	justify-content: space-around;
}

/* -------------- CONTENANT POLAROID ------------------*/

.ambiance-polaroid{
	width: 150px;
	height: 150px;
	overflow: hidden;
	border: white solid 10px;
	border-bottom: white solid 50px;
	box-shadow: 8px 8px 12px #454545;
	margin: 0 0 40px 20px;
	display: flex;
    align-items: center;
    justify-content: center;
}

/* -------------- POLAROID ------------------*/

.ambiance-polaroid img{
	width: 200px;
}
#ambiance-photo-1{
	transform: rotate(-5deg);
}
#ambiance-photo-2{
	transform: rotate(20deg);
}
#ambiance-photo-3{
	transform: rotate(-10deg);
}
#ambiance-photo-4{
	transform: rotate(10deg);
}
#ambiance-photo-5{
	transform: rotate(10deg);
}

/* -------------- POPUP ------------------*/

.ambiance-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.ambiance-overlay:target {
  visibility: visible;
  opacity: 1;
  display: flex;
  align-items: center;
}

.ambiance-popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 2px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.ambiance-popup .ambiance-close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #666666;
  z-index: 2;
}
.ambiance-popup .ambiance-close:hover {
  color: #360014;
}
.ambiance-popup .ambiance-content {
	display: flex;
}

/* ------------- SLIDER -----------------*/

#ambiance-slider{
	width:500px;
	height: 500px;
	overflow: hidden;
}
.ambiance-mySlides {
	display: none;
}
.ambiance-mySlides img{
	width: 600px;
}
.ambiance-mySlides p{
	margin-top: 30px;
  font-size: 23px;
	position: relative;
	top: 0;
	font-family: 'Shadows Into Light', cursive;
  text-align: center;
}
.ambiance-slideshow-container {
  position: relative;
  margin: auto;
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ambiance-prev, .ambiance-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.ambiance-next{
    border-radius: 3px 0 0 3px;
    right: 4%;
}
.ambiance-prev{
	left: 0;
}
.ambiance-prev:hover, .ambiance-next:hover {
  background-color: rgba(0,0,0,0.8);
}
.ambiance-fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .ambiance-prev, .ambiance-next,.ambiance-text {font-size: 11px}
}
