img {
	width: 100%;
	height: auto;
}

#humains-boxes {
	display: flex;
	flex-wrap: wrap;	
}

.humains-box {
	padding: 10px;
	flex: 1;
	border: 1px solid #333;
	margin-right: 10px;
}

.humain-box-txt {
	text-align: justify;
}

.personne_interviewee {
	font-size: 20px;
}