
/* -------------- BLOC COMMENT shelley------------------*/
#valeurs{
    background-color: blueviolet;
}
.button {
    display: block;
    width: 115px;
    height: 25px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
#flex-container{
	width: 80vw;
	display: flex;
	justify-content: space-between;	
    margin:10%;
 
}
.item{
 width: 30vw;
 height: auto;
 padding:2px;  
}
.value_img{
	width: 30vw;
}

@media only screen and (max-width: 767px){
    #flex-container{
        flex-direction: column;
    }
    .item{
        width: 100vw;
    }

}